gpiozero
lgpio
RPi.GPIO
sounddevice
numpy
opencv-python
opencv-python-headless
picamera2
#pygame
google-cloud-pubsub
google-cloud-firestore
google-cloud-storage
google-cloud-vision
functions-framework==3.*
firebase-admin>=6.5.0
#ultralytics
torch
torchvision
Pillow
